# Importing Market Data from Yahoo! Finance

In this notebook, I will be finding the ticker symbols of the companies in this universe. This will not be simple as the names of companies change over time and there is often M\&A activity that interferes with this process. This will be a learning experience so I will need to adjust as I go!

In [41]:
import numpy as np
import pandas as pd
import os
import urllib.request

import yfinance

We have a CIK-to-company mapping that was downloaded in another notebook (#ToDo), so let's see if we can use that to help us:

In [5]:
map_df = pd.read_csv('company_list.csv')
map_df.head()

       CIK                     Company State/Country
0  1053468              ABBOTT GREGORY            CO
1  1295721  ACE Aviation Holdings Inc.            A8
2  1002819         AIR CANADA /QUEBEC/            A8
3  1110452          AIR FRANCE-KLM /FI            I0
4   310454             AIR MIDWEST INC            KS

In [11]:
os.listdir('sec-edgar-filings/')

['0000100517',
 '0001351548',
 '0000101001',
 'AAL',
 '0001405419',
 '0001614436',
 '0001144331',
 '0001166291',
 '0000921929',
 '0000899394',
 '.DS_Store',
 '0001159154',
 '0001498710',
 '0000714560',
 '0000869187',
 '0000319687',
 '0000027904',
 '0000006201',
 '0001050715',
 '0000904020',
 '0000706270',
 '0000810332',
 '0001029863',
 '0000948845',
 '0001172222',
 '0000766421',
 '0001058033',
 '0000835768',
 '0000793733',
 '0000092380',
 '0000004515',
 '0001088734',
 '0001158463',
 '0001362468',
 '0001011696',
 '0000003202',
 '0000948846',
 '0000914397',
 '0001000578',
 '0000701345',
 '0000046205']

In [23]:
uurl = 'https://www.sec.gov/include/ticker.txt'

def download(t_url):
    response =  urllib.request.urlopen(t_url)
    data = response.read()
    txt_str = str(data)
    lines = txt_str.split("\\n")
    des_url = 'ticker_to_CIK.csv'
    fx = open(des_url,"w")
    for line in lines:
        fx.write(line+ "\n")
    fx.close()

download(uurl)

In [24]:
os.listdir()

['company_list.csv',
 'all_stock_parse.ipynb',
 '.DS_Store',
 'master.idx',
 'EDGAR_scrape.ipynb',
 'Untitled.ipynb',
 'ticker_to_CIK.txt',
 'sec-edgar-filings',
 'AAL_parse.ipynb',
 'AAL_parsed.pickle',
 '.ipynb_checkpoints',
 'ticker_to_CIK.csv',
 'cik_ticker.csv.download']

In [38]:
ticker_to_CIK = pd.read_table('ticker_to_CIK.txt', sep=r'\\t', header=None)
ticker_to_CIK.head()

/Users/lucaskrenn/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

        0        1
0  b'aapl   320193
1    msft   789019
2    amzn  1018724
3    goog  1652044
4   tcehy  1293451

In [40]:
# Fix weird apple entry
ticker_to_CIK.iloc[0,0] = 'aapl'
ticker_to_CIK.head()

       0        1
0   aapl   320193
1   msft   789019
2   amzn  1018724
3   goog  1652044
4  tcehy  1293451