In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import os
import re
import html2text
import pickle
from sec_edgar_downloader import Downloader

In [21]:
# Get the most recent filing
f = open("sec-edgar-filings/AAL/10-K/0001193125-15-061145/filing-details.html", "r")
raw_10k = f.read()

In [3]:
soup = BeautifulSoup(raw_10k, 'lxml')

In [4]:
res = list(soup.find_all('b'))
res = [str(x) for x in res]
res_str = '\n'.join(res)

In [5]:
matches = re.compile(r'(item\s(7[\.\s]|8(A|)[\.\s])|'
                             'discussion\sand\sanalysis\sof\s(consolidated\sfinancial|financial)\scondition|'
                             '(consolidated\sfinancial|financial)\sstatements\sand\ssupplementary\sdata)', re.IGNORECASE)

In [32]:
matches_array = pd.DataFrame([(match.group(), match.start()) for match in matches.finditer(res_str)])
matches_array.head()

      0      1
0  ITEM   1785
1  ITEM   3294
2  ITEM  11243
3  ITEM  11312
4  ITEM  12319

In [30]:
matches = re.compile(r'ITEM', re.IGNORECASE)

In [31]:
matches_array = pd.DataFrame([(match.group(), match.start()) for match in matches.finditer(raw_10k)])
matches_array.head()

      0      1
0  Item  18637
1  Item  30456
2  Item  31217
3  Item  31960
4  Item  32722

In [24]:
raw_10k[:5000]

'<html><body><document>\n<type>10-K\n<sequence>1\n<filename>d829913d10k.htm\n<description>FORM 10-K\n<text>\n<title>Form 10-K</title>\n<h5 align="left"><a href="#toc">Table of Contents</a></h5>\n<p style="line-height:4px;margin-top:0px;margin-bottom:0px;border-bottom:2pt solid #000000">&#160;</p>\n<p style="line-height:3px;margin-top:0px;margin-bottom:2px;border-bottom:0.5pt solid #000000">&#160;</p> <p align="center" style="margin-top:1px;margin-bottom:0px"><font size="2" style="font-family:Times New Roman"><b>UNITED STATES SECURITIES AND\nEXCHANGE COMMISSION </b></font></p> <p align="center" style="margin-top:0px;margin-bottom:0px"><font size="2" style="font-family:Times New Roman"><b>Washington, D.C. 20549 </b></font></p>\n<p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p><center> <p style="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&#160;</p></center>\n<p align="center" style="margin-top:1px;margin-bottom:0px"><font size="3" style="font-family:Times New Roman"><b>FORM 10-K </b></font></p> <p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p><center>\n<p style="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&#160;</p></center> <p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p>\n<table border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:COLLAPSE" width="100%">\n<tr>\n<td align="left" valign="top" width="4%"><font size="2" style="font-family:Times New Roman"><b></b><font style="FONT-FAMILY:WINGDINGS">&#254;</font><b></b><b></b></font></td>\n<td align="left" valign="top"> <p align="justify"><font size="2" style="font-family:Times New Roman"><b>ANNUAL REPORT PURSUANT TO SECTION&#160;13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934 </b></font></p></td></tr></table>\n<p align="justify" style="margin-top:0px;margin-bottom:0px; text-indent:4%"><font size="1" style="font-family:Times New Roman"><b>For the Fiscal Year Ended December&#160;31, 2014 </b></font></p>\n<p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p>\n<table border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:COLLAPSE" width="100%">\n<tr>\n<td align="left" valign="top" width="4%"><font size="2" style="font-family:Times New Roman"><b></b><font style="FONT-FAMILY:WINGDINGS">&#168;</font><b></b><b></b></font></td>\n<td align="left" valign="top"> <p align="justify"><font size="2" style="font-family:Times New Roman"><b>TRANSITION REPORT PURSUANT TO SECTION&#160;13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934 </b></font></p></td></tr></table>\n<p align="justify" style="margin-top:0px;margin-bottom:0px; text-indent:4%"><font size="1" style="font-family:Times New Roman"><b>For the Transition Period\nFrom&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; to&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;\n</b></font></p> <p align="center" style="margin-top:1px;margin-bottom:0px"><font size="1" style="font-family:Times New Roman">Commission file number 1-8400 </font></p> <p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p><center>\n<p style="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&#160;</p></center> <p align="center" style="margin-top:1px;margin-bottom:0px"><font size="3" style="font-family:Times New Roman"><b>American\nAirlines Group Inc. </b></font></p> <p align="center" style="margin-top:0px;margin-bottom:0px"><font size="1" style="font-family:Times New Roman"><i>(Exact name of registrant as specified in its charter) </i></font></p>\n<p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p><center> <p style="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&#160;</p></center>\n<p style="font-size:1px;margin-top:0px;margin-bottom:0px">&#160;</p>\n<table align="center" border="0" cellpadding="0" cellspacing="0" style="BORDER-COLLAPSE:COLLAPSE" width="100%">\n<tr>\n<td width="50%"></td>\n<td valign="bottom" width="1%"></td>\n<td width="48%"></td></tr>\n<tr>\n<td align="center" valign="top"><font size="1" style="font-family:Times New Roman"><b>Delaware</b></font></td>\n<td valign="bottom"><font size="1">&#160;</font></td>\n<td align="center" valign="top"><font size="1" style="font-family:Times New Roman"><b>75-1825172</b></font></td></tr>\n<tr>\n<td align="center" valign="top"> <p align="center" style="margin-top:0px;margin-bottom:0px"><font size="1" style="font-family:Times New Roman"><i>(State or other jurisdiction of</i></font></p>\n<p align="center" style="margin-top:0px;margin-bottom:1px"><font size="1" style="font-family:Times New Roman"><i>incorporation or organization)</i></font></p></td>\n<td valign="bottom"><font size="1">&#160;</font></td>\n<td align="center" valign="top"> <p align="center" style="margin-top:0px;margin-bottom:0px"><font size="'

In [57]:
matches = re.finditer(r'(item.{20}(7[\.\s]|8(A|)[\.\s])|'
                             'discussion\sand\sanalysis\sof\s(consolidated\sfinancial|financial)\scondition|'
                             '(consolidated\sfinancial|financial)\sstatements\sand\ssupplementary\sdata)', raw_10k, re.IGNORECASE)
locations = [x for x in matches]
locations

[<re.Match object; span=(37293, 37339), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(38888, 38944), match='Consolidated Financial Statements and Supplementa>,
 <re.Match object; span=(39715, 39771), match='Consolidated Financial Statements and Supplementa>,
 <re.Match object; span=(58563, 58609), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(68365, 68411), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(70730, 70776), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(70893, 70939), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(74080, 74126), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(218373, 218419), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(315947, 315993), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(575074, 575120), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(647874, 647920), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(685387, 685413), match='items consisted of a $538 '>,
 <re.Match object; span=(722980, 723026), match='Discussion\nand Analysis of Financial Condition'>,
 <re.Match object; span=(723680, 723726), match='DISCUSSION AND ANALYSIS OF FINANCIAL CONDITION'>,
 <re.Match object; span=(760153, 760199), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(762700, 762746), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(1519457, 1519503), match='Discussion and Analysis of Financial Condition'>,
 <re.Match object; span=(1614443, 1614499), match='CONSOLIDATED FINANCIAL STATEMENTS AND SUPPLEMENTA>,
 <re.Match object; span=(3215499, 3215555), match='CONSOLIDATED FINANCIAL STATEMENTS AND SUPPLEMENTA>]

In [74]:
matches = re.finditer('..>ITEM.{1,10}7[^a-zA-Z]{1,10}management', raw_10k, re.IGNORECASE)
locations = [x for x in matches]
locations[:3]

In [73]:
matches = re.finditer('..>ITEM.{1,10}8(|A)[^a-zA-Z]{1,10}consolidated', raw_10k, re.IGNORECASE)
locations = [x for x in matches]
locations[:3]

In [ ]:
matches = re.compile(r'(item\s(7[\.\s]|8(A|)[\.\s])|'
                             'discussion\sand\sanalysis\sof\s(consolidated\sfinancial|financial)\scondition|'
                             '(consolidated\sfinancial|financial)\sstatements\sand\ssupplementary\sdata)', re.IGNORECASE)