# Stock Price Analysis

In this notebook, we will be analyzing the data I managed to find on Bloomberg for companies in the airline sector. This will give us a good idea of how to construct our portfolios

In [1]:
import numpy as np
import pandas as pd
import os

In [22]:
files = [x for x in os.listdir('stock_prices') if x != '.DS_Store']
files

['NWA.csv',
 'UAL.csv',
 'SKYW.csv',
 'SAVE.csv',
 'LCC.csv',
 'XJT.csv',
 'VA.csv',
 'JBLU.csv',
 'HA.csv',
 'ALGT.csv',
 'AAI.csv',
 'ANS.csv',
 'FRNTQ.csv',
 'GLUX.csv',
 'ALK.csv',
 'AAL.csv',
 'LUV.csv',
 'DAL.csv',
 'MESA.csv',
 'MEH.csv',
 'RHWI.csv']

In [24]:
tickers = [x[:-4] for x in files]
tickers

['NWA',
 'UAL',
 'SKYW',
 'SAVE',
 'LCC',
 'XJT',
 'VA',
 'JBLU',
 'HA',
 'ALGT',
 'AAI',
 'ANS',
 'FRNTQ',
 'GLUX',
 'ALK',
 'AAL',
 'LUV',
 'DAL',
 'MESA',
 'MEH',
 'RHWI']

In [9]:
prices

,AAI US Equity,AAL US Equity,ALGT US Equity,ALK US Equity,ANS US Equity,AWAQC US Equity,DAL US Equity,FRNTQ US Equity,FRNTQ US Equity.1,GLUX US Equity,...,LUV US Equity,MEH US Equity,MESA US Equity,NWA US Equity,SAVE US Equity,SKYW US Equity,UAL US Equity,RHWI US Equity,XJT US Equity,VA US Equity
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-02,6.8750,NaN,NaN,7.3906,3.8125,NaN,NaN,19.2083,19.2083,0.9375,...,22.3067,14.9375,NaN,NaN,NaN,27.5000,NaN,58559.98829,NaN,NaN
2001-01-03,7.1875,NaN,NaN,7.9844,3.8125,NaN,NaN,20.3333,20.3333,1.0625,...,21.9067,15.3125,NaN,NaN,NaN,28.8125,NaN,68159.98637,NaN,NaN
2001-01-04,7.3750,NaN,NaN,8.5000,3.8125,NaN,NaN,20.5625,20.5625,1.0000,...,23.1667,17.1875,NaN,NaN,NaN,27.4375,NaN,73919.98522,NaN,NaN
2001-01-05,7.3750,NaN,NaN,8.4531,3.7500,NaN,NaN,21.1667,21.1667,NaN,...,23.2667,18.3750,NaN,NaN,NaN,27.7500,NaN,68159.98637,NaN,NaN
2001-01-08,7.3750,NaN,NaN,8.4688,3.7500,NaN,NaN,20.9583,20.9583,0.9375,...,22.6667,18.1250,NaN,NaN,NaN,26.8750,NaN,71999.98560,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,NaN,22.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.37,NaN,28.94,NaN,NaN,NaN,NaN,NaN
2021-07-27,NaN,21.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.12,NaN,28.03,NaN,NaN,NaN,NaN,NaN
2021-07-28,NaN,21.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.19,NaN,28.51,NaN,NaN,NaN,NaN,NaN
2021-07-29,NaN,21.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.09,NaN,28.34,NaN,NaN,NaN,NaN,NaN
2021-07-30,NaN,20.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.92,NaN,26.98,NaN,NaN,NaN,NaN,NaN

In [11]:
counts = prices.count(axis=1)

In [13]:
prices.loc['2021-07-30']

AAI US Equity          NaN
AAL US Equity        20.38
ALGT US Equity         NaN
ALK US Equity          NaN
ANS US Equity          NaN
AWAQC US Equity        NaN
DAL US Equity          NaN
FRNTQ US Equity        NaN
FRNTQ US Equity.1      NaN
GLUX US Equity         NaN
HA US Equity           NaN
JBLU US Equity         NaN
LCC US Equity          NaN
LUV US Equity          NaN
MEH US Equity          NaN
MESA US Equity        8.92
NWA US Equity          NaN
SAVE US Equity       26.98
SKYW US Equity         NaN
UAL US Equity          NaN
RHWI US Equity         NaN
XJT US Equity          NaN
VA US Equity           NaN
Name: 2021-07-30, dtype: float64